<%= content_for :head do %>
<script>
  $(document).on('click', '#mc-embedded-subscribe', function() {
    setTimeout(function() {
      if($('#mce-success-response').is(':visible')) {
        $('.marketing-assessment-call-to-action').toggleClass('hide');
      }
    }, 1000);
  });
</script>
<% end %>

<div class="w-section guide-download-section" data-ix="display-tech-nav">
  <div class="w-container">
    <div class="box-title-small text-left">
      <%= image_tag 'academy-layout/logo.png', alt: 'Optimised Law Academy', class: 'academy-logo' %>
      <%= link_to 'View all resources', academy_index_path, class: 'navigation-link' %>
    </div>
    <div class="white-guide-wrapper">
      <div class="w-col w-col-6">
        <div class="w-row">
          <div class="w-col w-col-4">
            <div class="guide-show-div" data-ix="show-up"><%= image_tag @academy_entry.image.small %>
            </div>
          </div>
          <div class="w-col w-col-8 white-col" data-ix="show-up-2">
            <h4><%= @academy_entry.title.upcase %></h4>
            <div class="level-text <%= @academy_entry.level.downcase %>"><%= @academy_entry.level %></div>
            <div><%= @academy_entry.mailchimp_frequency %></div>
          </div>
        </div>


        <div class="internal-copy"><%= raw @academy_entry.summary %></div>
      </div>
      <div class="w-col w-col-6 col-no-spacing">
        <div class="half-div purple-bg" data-ix="show-up-3">
          <div class="w-form guide-form-wrapper">
            <%= render 'shared/flash_messages' %>

            <%= render 'mailchimp_subscriptions/form' if @academy_entry.mailchimp_form.present? %>
            <%= render 'academy_entry_downloads/form' if @academy_entry.mailchimp_form.blank? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-download-div"></div>
