<%= content_for :head do %>
<script>
  $(document).on('click', '#mc-embedded-subscribe', function() {
    setTimeout(function() {
      if($('#mce-success-response').is(':visible')) {
        $('.marketing-assessment-call-to-action').toggleClass('hide');
      }
    }, 1000);
  });
</script>
<% end %>

<div class="w-section guide-download-section" data-ix="display-tech-nav">
  <div class="w-container">
    <div class="w-row white-guide-wrapper">
      <div class="w-col w-col-2">
        <div class="guide-show-div" data-ix="show-up"><%= image_tag @academy_entry.image.small %>
        </div>
      </div>
      <div class="w-col w-col-4 white-col" data-ix="show-up-2">
        <h4><%= @academy_entry.title.upcase %></h4>
        <div class="level-text <%= @academy_entry.level.downcase %>"><%= @academy_entry.level %></div>
        <div class="internal-copy"><%= raw @academy_entry.summary %></div>
        <div><%= @academy_entry.mailchimp_frequency %></div>
      </div>
      <div class="w-col w-col-6 col-no-spacing">
        <div class="half-div purple-bg" data-ix="show-up-3">
          <div class="w-form guide-form-wrapper">
            <%= render 'shared/flash_messages' %>

            <div id="form_area">
              <%= raw @academy_entry.mailchimp_form %>
            </div>

            <div class="marketing-assessment-call-to-action hide">
              <div class="w-container free-internet-container" data-ix="show-up">
                <h3 class="green-highlight centred"><span class="free">Free</span> Internet Marketing Assessment</h3>
                <div class="w-row">
                  <div class="w-col w-col-12">
                    <div class="paragraph-white">We specialise in Internet Marketing for law firms. We are offering a free assessment of your existing website and internet marketing to show you how you can maximise your conversion rates.

                    <div class="paragraph-white">If you'd like this free assessment, <%= link_to 'please fill out the form', new_marketing_assessment_signup_path %> and one of our experts will contact you shortly.</div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
            
            <%= render 'academy_entry_downloads/form' if @academy_entry.mailchimp_form.blank? %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-download-div"></div>
