<%= form_for @academy_entry_download, url: download_academy_entry_path do |f| %>
  <% if @academy_entry_download.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize @academy_entry_download.errors.count, 'error' %> prevented this message from being sent
      </h2>

      <ul>
        <% @academy_entry_download.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :forename %>
    <%= f.text_field :forename %>
  </div>

  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
