<section class="w-section internal-banner-space academy-bg" id="Home"></section>
<div class="w-section guide-download-section purple-bg centred" data-ix="display-tech-nav">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-4 sent-to-col centred"><<%= image_tag 'academy/check-mark.png',  class: "tick" %>
        <%= render 'shared/flash_messages' %>

        <p class="paragraph-white white-centred"><%= @academy_entry.title.upcase %></p>
        <div class="green-highlight">has been sent to your inbox</div>
        <div class="guide-show-div" data-ix="show-up"><%= image_tag @academy_entry.image.small %>
        </div>
      </div>
      <div class="w-col w-col-8">
        <div class="w-form">
          <h1 class="green-highlight centred"><span class="free">Free</span> Internet Marketing Assessment</h1>
          <div class="paragraph-white">We specialise in Internet Marketing for law firms. We are offering a free assessment of your existing website and internet marketing to show you how you can maximise your conversion rates.
            <br>
            <br> One of team of experts will have review your website and offer suggestions on</div>
          <ul class="list white">
            <li>Lead Conversion</li>
            <li>Landing Pages</li>
            <li>Lead generation forms</li>
            <li>Content structure</li>
            <li>Website performance</li>
            <li class="green-highlight">And more…</li>
          </ul>
          <div class="paragraph-white">If you'd like this free assessment, please fill out the form and one of our experts will contact you shortly.</div>

          <%= render 'marketing_assessment_signups/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
