<li><%= link_to Article.model_name.human.pluralize, main_app.admin_articles_path %></li>
<li><%= link_to TeamMember.model_name.human.pluralize, main_app.admin_team_members_path %></li>
<li><%= link_to AcademyEntry.model_name.human.pluralize, main_app.admin_academy_entries_path %></li>
<li><%= link_to AcademyEntryDownload.model_name.human.pluralize, main_app.admin_academy_entry_downloads_path %></li>
<li><%= link_to MailchimpSubscription.model_name.human.pluralize, main_app.admin_mailchimp_subscriptions_path %></li>
<li><%= link_to 'SEO Entries', main_app.admin_seo_entries_path %></li>
<%# END OF LIST %>
