<!--
<form class="form-wrapper" id="email-form" name="email-form" data-name="Email Form">
  <input class="w-input" id="Forename-3" type="text" placeholder="Your Forename" name="Forename-3" data-name="Forename 3" required="required">
  <input class="w-input" id="Surname-3" type="text" placeholder="Your Surname" name="Surname-3" data-name="Surname 3" required="required">
  <div>
    <input class="w-input" id="Email-4" type="email" placeholder="Your Email" name="Email" data-name="Email" required="required">
    <input class="w-input" id="Company-2" type="email" placeholder="Company" name="Company-2" data-name="Company 2" required="required">
    <input class="w-input" id="Website-2" type="email" placeholder="Website" name="Website-2" data-name="Website 2" required="required">
    <input class="w-input" id="Current-Marketing-Budget-2" type="email" placeholder="Current Marketing Budget" name="Current-Marketing-Budget-2" data-name="Current Marketing Budget 2">
  </div>
  <input class="w-button button-light centred" type="submit" value="Submit" data-wait="Please wait..." data-ix="hover-jump">
</form>
-->


<%= form_for @marketing_assessment_signup do |f| %>
  <% if @marketing_assessment_signup.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize @marketing_assessment_signup.errors.count, 'error' %> prevented this message from being sent
      </h2>

      <ul>
        <% @marketing_assessment_signup.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :forename, placeholder: 'Your First Name', class: 'w-input', required: true %>
  </div>

  <div class="field">
    <%= f.text_field :surname, placeholder: 'Your Last Name', class: 'w-input', required: true %>
  </div>

  <div class="field">
    <%= f.text_field :email, placeholder: 'Your Email Address', class: 'w-input', required: true %>
  </div>

  <div class="field">
    <%= f.text_field :company, placeholder: 'Company', class: 'w-input', required: true %>
  </div>

  <div class="field">
    <%= f.text_field :website, placeholder: 'Website', class: 'w-input', required: true %>
  </div>

  <div class="field">
    <%= f.text_field :budget, placeholder: 'Current marketing budget', class: 'w-input', required: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'w-button button-light centred', data: { ix: 'hover-jump' } %>
  </div>
<% end %>
