<h1>Internet Marketing Assessment Request</h1>

<p>
  <strong>Forename</strong><br />
  <%= @details.forename %>
</p>

<p>
  <strong>Surname</strong><br />
  <%= @details.surname %>
</p>

<p>
  <strong>Email</strong><br />
  <%= mail_to @details.email %>
</p>

<p>
  <strong>Company</strong><br />
  <%= @details.company %>
</p>

<p>
  <strong>Website</strong><br />
  <%= @details.website %>
</p>

<p>
  <strong>Budget</strong><br />
  <%= @details.budget %>
</p>
