<div class="w-container">
  <nav class="w-nav-menu w-clearfix nav-menu-mobile" role="navigation">
    <%= link_to "Roi", "#{SITE_SETTINGS["Webflow Site"]}/index.html#roi", class: "w-nav-link menu-link" %>
    <%= link_to "Law platform", "#{SITE_SETTINGS["Webflow Site"]}/index.html#law-platform", class: "w-nav-link menu-link" %>
    <%= link_to "How we work", "#{SITE_SETTINGS["Webflow Site"]}/index.html##Simple-Pricing", class: "w-nav-link w-hidden-main menu-link" %>
    <%= link_to "Internet marketing", "#{SITE_SETTINGS["Webflow Site"]}/index.html#internet-marketing", class: "w-nav-link menu-link" %>
    <%= link_to "Pricing", "#{SITE_SETTINGS["Webflow Site"]}/index.html#pricing", class: "w-nav-link menu-link" %>
    <%= link_to "Account management", "#{SITE_SETTINGS["Webflow Site"]}/index.html#account-management", class: "w-nav-link menu-link" %>
    <%= link_to "Contact us", "#{SITE_SETTINGS["Webflow Site"]}/index.html#contact", class: "w-nav-link menu-link" %>
    <%= link_to "Blog", "http://blog.optimisedlaw.co.uk", class: "w-nav-link menu-link small-nav" %>
    <%= link_to "About Us", "#{SITE_SETTINGS["Webflow Site"]}/about-us", class: "w-nav-link menu-link small-nav" %>
    <%#= link_to "Guides", "#{SITE_SETTINGS["Webflow Site"]}/guides", class: "w-nav-link menu-link small-nav" %>
  </nav>
  <div class="w-nav-button menu-bg">
    <%= image_tag "burger-menu.png" %>
  </div>
</div>
