<!DOCTYPE html>
<html lang="en" data-wf-site="556c602ba501981870b39238">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <%= yield %>

    <% unless ( params[:action] == 'index' or params[:action] == 'attract' or params[:action] == 'engage' or params[:action] == 'convert' ) and params[:controller] == 'application' %>
      <%= render 'layouts/footer' %>
    <% end %>

    <%= javascript_include_tag "application" %>

    <%= yield :footer %>

    <!-- Google Code for Remarketing Tag -->
    <!--
    Remarketing tags may not be associated with personally identifiable
    information or placed on pages related to sensitive categories.
    See more information and instructions on how to
    setup the tag on: http://google.com/ads/remarketingsetup
    -->
    <script type="text/javascript">
      /* <![CDATA[ */
        var google_conversion_id = 973138661;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <noscript>
      <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/973138661/?value=0&guid=ON&script=0"/>
      </div>
    </noscript>
  </body>
</html>
